allow hal_keymaster_default qseecomtee_prop:file read;
allow hal_keymaster_default qseecomtee_prop:file open;
allow hal_keymaster_default qseecomtee_prop:file getattr;
allow fsck block_device:blk_file { read write open ioctl };
allow init sysfs:file { write open setattr };
allow init sysfs_usb:file setattr;
allow healthd sysfs:file { read open getattr };
allow hal_drm_default vndbinder_device:chr_file { read write open ioctl };
allow hal_camera_default vndbinder_device:chr_file { read write open ioctl };
allow hal_gnss_default vndbinder_device:chr_file { read write open ioctl };
allow rmt debugfs:file { write open };
allow hal_graphics_composer_default default_android_vndservice:service_manager { find add };
allow hal_graphics_composer_default vndbinder_device:chr_file { read write open ioctl };
allow hal_sensors_default persist_sensortool_file:file { read open };
allow hal_graphics_composer_default sysfs:file { read open getattr };
allow hal_sensors_default vendor_data_file:dir { read write add_name create };
allow hal_sensors_default sensors_device:chr_file { read write open };
allow hal_sensors_default uhid_device:chr_file { write open ioctl };
allow hal_sensors_default property_socket:sock_file write;
allow hal_sensors_default init:unix_stream_socket connectto;
allow hal_graphics_composer_default vndservicemanager:binder { call transfer };
allow vndservicemanager hal_graphics_composer_default:dir search;
allow vndservicemanager hal_graphics_composer_default:file { read open };
allow vndservicemanager hal_graphics_composer_default:process getattr;
allow hal_graphics_composer_default hal_graphics_composer_default:netlink_kobject_uevent_socket { read getattr };
allow init-power-sh sysfs_net:dir search;
allow hal_graphics_allocator_default sysfs:file { read create };
allow init sysfs_display:file setattr;
allow init sysfs_wlan_fwpath:file setattr;
